<% if(success && success.length) {%>
    <div class="alert alert-success alert-dismissible fade show flash-alert" role="alert">
  
     
        <%= success %>
        <button type="button" class="close close-right btn-close" data-dismiss="alert" aria-label="Close" onClick="document.location.reload(true)">
            
        </button>
    </div>
    <% } %>
    
    <% if(error && error.length) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close close-right btn-close" data-dismiss="alert" aria-label="Close" onClick="document.location.reload(true)">
          
        </button>
    </div>
    <% } %>

