<nav id="nav" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-5 nav-center">
    <div class="container-fluid">
      <a class="navbar-brand main-nav-text" href="/friends">Remind Me</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <% if(currentUser !== undefined) {%> 
        
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/friends" id="nav-link-index">Reminders</a>
            <a class="nav-link" href="/friends/new" id="nav-link-new">New Reminder</a>
            <a class="nav-link" href="/friends/calendar" id="nav-link-calendar">Calendar</a>
          
          </div>
      <% }%> 

      
        <div class="navbar-nav ms-auto">

          <% if(!currentUser){ %>

            <div class="nav-item">
              <a class="nav-link" id="nav-link-login" href="/login">Login</a>
            </div>
            <div class="nav-item">
              <a class="nav-link" id="nav-link-register" href="/register">Register</a>

            </div> 
          
          
          <% } else { %> 

            <%if (currentUser.username.length > 50){ %>
							<a class="navbar-brand main-nav-text" href="#"><%= currentUser.username.substring(0, 50) %>...</a>
						<% }else{%>
							<a class="navbar-brand main-nav-text" href="#"><%= currentUser.username.substring(0, 50) %></a> 
							<%} %>

            
           
          <a class="nav-link" id="nav-link-logout" href="/logout">Logout</a>
          <% } %> 
        </div>

      </div>
    </div>
  </nav>


