
    <% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New friend</h1>
        <%Date.prototype.addDays = function (days) {%>
            <%let date = new Date(this.valueOf());%>
            <%date.setDate(date.getDate() + days);%>
            <%return date;%>
        <%};%>
        
        <%let date = new Date();%>
        <% let p = JSON. stringify(date.addDays(5)) %> 
        
     
        <div class="col-6 offset-3">
            <form action="/friends" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="friend[name]" required>
                    <div class="valid-feedback">Looks good</div>
                </div>

                    <div class="mb-3">
                    <label class="form-label select" for="level"> How often (days)</label>
                    <input type="number" id="level" name="friend[level]" min="0" max="100" required>
                    <div class="valid-feedback">Looks good</div>
                    </div>
                    
                    <!-- <label class="form-label select" for="level">Level</label> -->
                    <!-- <select name="friend[level]" id="level" required> -->
                    <!-- <option value="">--Please choose an option--</option> -->
                    <!-- <option value="2">BFF:2 days</option> -->
                    <!-- <option value="7">Friend:7 days</option> -->
                    <!-- <option value="35">Acquaintance: 35 days</option> -->
                    <!-- <option value="10 ">Crush:10 days</option> -->
                    <!-- </select> -->

            
                    <!-- <input class="form-control" type="text" id="level" name="friend[level]" required> -->
                
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="friend[description]" required></textarea>
                    <div class="valid-feedback">Looks good</div>

                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add friend</button>
                </div>
            </form>
            <a href="/friends">All friends</a>
        </div>
    </div>






    