
    <% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New friend</h1>
        <%Date.prototype.addDays = function (days) {%>
            <%let date = new Date(this.valueOf());%>
            <%date.setDate(date.getDate() + days);%>
            <%return date;%>
        <%};%>
        
        <%let date = new Date();%>
        <% let p = JSON. stringify(date.addDays(5)) %> 
        
     
        <div class="col-6 offset-3">
            <form action="/friends" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="friend[name]" required>
                    <div class="valid-feedback">Looks good</div>
                </div>

                <div class="mb-3">
                    <div>
                        <input type="radio" id="People" name="friend[category]" value="People" required>
                        <label for="People">People</label>
                    </div>
                
                    <div>
                        <input type="radio" id="Life Maintenance" name="friend[category]" value="Life Maintenance" required>
                        <label for="Life Maintenance">Life Maintenance</label>
                    </div>
                
                    <div>
                        <input type="radio" id="Other" name="friend[category]" value="Other" required>
                        <label for="Other">Other</label>
                    </div>
                    <div class="valid-feedback">Looks good</div>
                </div>

                    <div class="mb-3">
                    <label class="form-label select" for="level"> How often (days)</label>
                    <input type="number" id="level" name="friend[level]" min="0" max="100" required>
                    <div class="valid-feedback">Looks good</div>
                    </div>
                    
                    
                
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="friend[description]" required>  </textarea>
                    <div class="valid-feedback">Looks good</div>

                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add friend</button>
                </div>
            </form>
            <a href="/friends">All friends</a>
        </div>
    </div>






    