*{
	box-sizing: border-box;
}


body{
	margin: 0;
	height: 100%;
	display: flex;
	/* flex-direction: column; */
	min-height: 100vh;
	/* width: 100%; */
	margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	/* border-top: #212529 10px solid; */
}

.index-top-half-div-1{
	margin: auto;
	text-align: center;
}


#nav {
    margin-bottom: 20em;
}

.first-line{
    margin-top: 120em;
}

.all {
	height: 200em;
}
.dark-bg {
	background-color: black;
}



.card-today,.card-upcoming {
	display: inline-block;;
	width: 20em;
	/* background-color: purple; */
}

.section-people , .section-life, .section-other {

	display: inline-flex;
	flex-grow: 1;
	width: 30%;
	flex-direction: column;
	margin: 20px 10px;
	/* margin-bottom: 20px; */
	/* margin: 5em; */
	/* margin: 2em 5em; */
	border: 2px solid red;
	border-radius: 4px;
    /* background: #edecee; */
    padding: 8px;
}




.section-categories{
	display: inline-flex;
	justify-content: space-around;
	text-align: left;
	width: 100%;
	margin: 5em 0;
	margin-bottom: 0.5em;
}

.section-people{
	/* background-color: blue; */
	
}


.card {
	margin: 3px 5px;
}


.header{
	height: 10%;
}

.section-today, .section-upcoming{
	flex-grow: 2;
	height: 100%;
	margin: 5em;
}

.card-center{
	margin: 0 20px;
}

.row-card{
	justify-content: center;
	height: 184px;
}

.footer{
		margin-top: auto;
}

h2{
	padding: 1em;
}

.center-new-edit{
	width: 80%;
	/* display: inline-flex; */
	justify-content: center;
	margin: 0 auto;
}

