<% layout('layouts/boilerplate')%>
<div class="container text-white">
    <h1>Login</h1>
<form action="/login" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <div>
            <input class="form-control form-90" type="text" id="username" name="username" required>

        </div>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <div>
            <a href="/forgot" class="forgot-password mb-3">Forgot Password?</a>
        </div>
        <div>
            <input class="form-control form-90" type="password" id="password" name="password" required>
            <i class="far fa-eye eye" id="togglePassword"></i>
        </div>
       
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-teal">Login</button>
</form>
</div>



<script src="/javascripts/showPassword.js"></script>


